<template>
  <div>
    <input type="text" v-model="searchTerm" @input="search" />
    <ul>
      <li v-for="suggestion in suggestions" @click="selectSuggestion(suggestion)">{{ suggestion }}</li>
    </ul>
  </div>
</template>

<script>
export default {
  data() {
    return {
      searchTerm: '',
      suggestions: []
    };
  },
  watch: {
    searchTerm: function () {
      this.search();
    }
  },
  methods: {
    search: function () {
      // サジェスト検索処理
      // 検索結果をthis.suggestionsに設定する
    },
    selectSuggestion: function (suggestion) {
      this.searchTerm = suggestion;
      this.suggestions = [];
    }
  }
};
</script>
